article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 5vh;
  color: #f9d01c;
  margin: 0.1rem;
  background-color: #000000;
} 
label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
  
label span {
  color: #000000;
  width: 2rem;
}
  
input,
select {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  color: #1d1d1c;
  border: 2px solid #f5da42;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}

button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #f9d01c;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
}
button:disabled {
  background-color: lightgrey;
}
button:hover {
  color: #f9d01c;
  background-color: #000000;
}
.submit
{
  margin: 0.5rem 0 0 auto;
  padding: 0.4rem;
}